<p id="notice"><%= notice %></p>

<p>
  <h2><%= @place.name %> </h2>
</p>

<p>
  <%= @place.street %><br>
  <%= @place.zip %> <%= @place.city %>
</p>
<iframe src="<%= @place.blogmap %>" width="400" height="300"></iframe>
